/* ========================================================
modal.css
======================================================== */
/* modal settings
-------------------------------------------------------- */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100vh;

  @include mq (sp) {
    top: unset;
    bottom: 0;
  }
}

.regist-modal {
  .modal-content {
    @include mq (sp) {
      top: 50%;
      bottom: 0;
    }

    .l-modal-panel {
      height: 60.7rem;
    }

    .modal-panel {
      width: 75.6rem;

      @include mq (sp) {
        bottom: 0;
        width: 100%;
        height: auto;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        overflow-y: auto;
      }

      .modal-txt {
        padding: 0 0 7.5rem;

        @include mq (sp) {
          height: auto;
          padding: 1.7rem 0 6rem;
        }
      }

      .modal-header {
        width: 92%;
        padding: 4rem 0;

        @include mq (sp) {
          padding: 2rem 0;
        }

        .modal-close-btn {
          @include mq (sp) {
            left: 0;
            width: 5.8rem;
            margin: 0 auto;
          }
        }
      }

      .cmn-tbl {
        tr {
          padding-bottom: 3rem;

          @include mq(sp) {
            padding-bottom: 1.3rem;
          }

          @include mq (tab) {
            flex-direction: row;
          }

          th {
            @include mq (tab) {
              width: 34%;
            }
          }

          td {
            @include mq (tab) {
              width: 63.4%;
            }
          }
        }
      }

      .regist-info-ttl {
        display: block;
        line-height: 1.4;
        padding-bottom: 3.3rem;
        font-size: 2.6rem;
        font-weight: 700;
        text-align: center;
        @include m-font();

        @include mq (sp) {
          padding-bottom: 0.1rem;
          font-size: 2rem;
        }
      }

      .cmn-lbl {
        line-height: 1.4;
        font-feature-settings: "palt";
      }

      .custom-rdo {
        width: 100%;
        padding: 1.3rem;
        border: 1px solid $color14;
        border-radius: 0.4rem;
      }

      .income-input {
        justify-content: flex-start;
        align-items: center;

        @include mq (sp) {
          width: 19.1rem;
          column-gap: 0;
        }

        input {
          width: 80%;

          @include mq (sp) {
            width: 15.7rem;
          }
        }

        .unit {
          padding-left: 0.5rem;
          color: $color07;
          font-family: "Hiragino Kaku Gothic Pro";
          font-size: 1.3rem;
          font-weight: 700;
        }
      }

      .app-form-btn {
        margin: 1.2rem auto 0;

        @include mq(sp) {
          margin: 1.7rem auto 0;
        }
      }

      .qualification-name {
        display: flex;
        flex-direction: row;

        .cmn-lbl {
          width: 48%;
        }
      }

      .service-desc {
        line-height: 1.7;
        padding-top: 0.8rem;
        padding-bottom: 1.8rem;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;

        @include mq(sp) {
          padding-bottom: 3.4rem;
          text-align: left;
        }
      }
    }

    .app-form-btn {
      @include mq (sp) {
        flex-direction: column-reverse;
        padding: 0;
      }
    }
  }

  &.service-modal,
  &.mail-modal {
    .modal-panel {
      .regist-info-ttl {
        padding-bottom: 1.2rem;
      }

      .modal-txt {
        padding: 6rem 0 14rem;

        @include mq(sp) {
          padding: 3.9rem 0 8rem;
        }

        .app-form-inner {
          @include mq() {
            padding: 0;
          }
        }
      }
    }
  }

  .err-msg {
    line-height: 1.64;
    padding-left: 1rem;

    span {
      display: inline-block;
      text-indent: -1rem;
    }
  }

  .register-link {
    display: block;
    color: $color01;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8;
    text-decoration: underline;
  }
}

.modal-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: $color05;
  opacity: 0.5;
}

.modal-content {
  width: 100%;
  background: transparent;
  @include m-centering;

  @include mq(sp) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }

  .modal-panel {
    display: flex;
    flex-flow: column;
    width: 90rem;
    background: $white;
    border-radius: 2rem;
    @include m-centering;

    @include mq(tab) {
      width: 94%;
      overflow: hidden;
    }

    @include mq(sp) {
      display: block;
      top: 0;
      left: 0;
      justify-content: space-between;
      width: 100%;
      height: 100vh;
      transform: translate(0, 0);
      border-radius: 0;
    }

    .modal-ttl {
      box-shadow: $header-shadow;
      @include m-font();

      .search-conditions-ttl {
        color: $color07;
        font-size: 2rem;
        font-weight: 700;
      }

      .search-clear {
        position: relative;
        width: 13.5rem;

        a {
          padding: 0.7rem 1.2rem 0.7rem 2.3rem;
          border: 1px solid $color14;
          color: $color07;
          font-size: 1.2rem;
          font-weight: 700;
          border-radius: 3.4rem;

          &::before {
            position: absolute;
            top: 50%;
            left: 1.2rem;
            width: 0.7rem;
            height: 0.7rem;
            background: url('#{$v-img-path}icon/icon_clear.png') no-repeat center/contain;
            content: '';
            transform: translateY(-50%);
          }
        }
      }
    }

    .modal-header {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      width: 89%;
      margin: 0 auto;
      padding: 2.5rem 0;
      max-width: 80rem;
    }

    .modal-txt {
      padding: 2rem 0 5rem;
      color: $color07;
      overflow-y: auto;

      @include mq(sp) {
        height: 85%;
        padding: 2.5rem 0;
      }

      .form-modal {
        width: 89%;
        margin: 0 auto;
        max-width: 80rem;

        .cat-search {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .checkbox-group {
            display: inline-block;
            width: 24%;
            margin-bottom: 0.6rem;

            @include mq (tab) {
              width: 32%;
            }

            @include mq (sp) {
              width: 49%;
            }

            input[type=checkbox] {
              display: none;
              width: initial;
              height: initial;
              margin-bottom: 0;
              padding: 0;
              cursor: pointer;
            }

            label {
              display: inline-block;
              position: relative;
              width: 100%;
              padding: 1rem;
              border: 1px solid $color14;
              font-size: 1.4rem;
              font-weight: 700;
              cursor: pointer;
              border-radius: 0.5rem;
              @include m-font();

              @include mq (sp) {
                font-size: 1.3rem;
              }
            }

            label:before {
              display: inline-block;
              width: 1.4rem;
              height: 1.4rem;
              margin-right: 0.5rem;
              border: 1px solid $color14;
              vertical-align: middle;
              content: '';
              border-radius: 50%;
            }

            input[type=checkbox]:checked+label:before {
              border: 1px solid transparent;
            }

            input[type=checkbox]:checked+label:after {
              display: block;
              position: absolute;
              top: 50%;
              left: 1rem;
              width: 1.6rem;
              height: 1.6rem;
              background: url('#{$v-img-path}icon/icon_modal_tick.png') no-repeat center/contain;
              content: '';
              transform: translateY(-50%);
            }

            input[type=checkbox]:checked+label {
              border: 1px solid $color01;
              color: $color01;
            }

          }
        }

        .cat-form-btn {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          margin: 2rem auto 0;
          font-size: 1.5rem;
          @include m-font();

          @include mq (tab) {
            width: 90%;
          }

          @include mq (sp) {
            flex-direction: column;
            align-items: center;
            width: 100%;
          }

          .total-jobs-search {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mq (sp) {
              width: 100%;
            }

            span {
              font-size: 1.4rem;
              font-weight: 700;
              @include m-font();
            }
          }
        }

        .search-conditions-form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .search-condition {
            display: flex;
            width: 49.5%;
            margin-bottom: 1rem;

            @include mq (sp) {
              width: 100%;
            }

            .search-list {
              display: flex;
              position: relative;
              align-items: center;
              width: 100%;
              padding: 1.2rem 2.8rem 1.2rem 0;
              border: 1px solid $color14;
              border-radius: 0.4rem;
              @include m-font();

              &::after {
                position: absolute;
                top: 50%;
                right: 5%;
                width: 0.8rem;
                height: 1rem;
                background: url('#{$v-img-path}icon/icon_list_btn.png') no-repeat center/contain;
                content: '';
                transform: translateY(-50%);
              }

              .cat-icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 6.5rem;
                height: 2.9rem;
                margin-right: 1.2rem;
                color: $color07;
                font-size: 1rem;
                font-weight: 700;
                border-right: 1px solid $color14;
              }

              .cat-txt {
                color: $color10;
                font-size: 1.4rem;
                font-weight: 700;
              }

              &.active {
                border: 1px solid $color01;

                .cat-txt {
                  color: $color01;
                }
              }
            }
          }
        }

        .search-field {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 2rem;
          @include m-font();

          .search-input {
            position: relative;

            @include mq (sp) {
              width: 100%;
            }

            &::before {
              position: absolute;
              top: 50%;
              left: 2rem;
              width: 1.5rem;
              height: 1.5rem;
              background: url('#{$v-img-path}icon/icon_job_search.png') no-repeat center/contain;
              content: '';
              transform: translateY(-50%);
            }

            input {
              width: 32.5rem;
              padding: 2rem 1rem 2rem 5rem;
              border: none;
              background-color: $color12;
              font-size: 1.6rem;
              outline: none;
              border-radius: 1rem;
              @include m-font();

              @include mq (sp) {
                width: 100%;
              }
            }
          }

          .total-jobs {
            padding: 2rem 0 1rem;
            font-size: 1.4rem;
            font-weight: 700;
          }
        }

        .search-btn {
          width: 26rem;
          padding: 1.2rem;
          padding: 1.7rem 0;
          font-size: 1.5rem;

          @include mq (sp) {
            width: 100%;
            margin: 1rem auto;
          }
        }

        .btn-theme-04 {
          width: 26rem;
          margin-right: 2%;
          padding: 1.7rem 0;
          font-size: 1.5rem;

          @include mq (sp) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }

  .search-condition-panel {
    min-height: 51.1rem;
  }

  .form-panel {
    min-height: 44.4rem;
  }

  .search-result-panel {
    min-height: 37.2rem;
  }
}

.modal-close-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.logout-alert {
  text-align: center;
  .modal-content {
    .modal-panel {
      .modal-txt {
        padding: 2rem 0 10rem;
    
        @include mq(sp) {
    
        }
  
        .alert-img {
          display: block;
          margin-bottom: 1.6rem;
          text-align: center;
        }
    
        .alert-ttl {
          display: block;
          line-height: 1.4;
          padding-bottom: 1.5rem;
          font-size: 1.8rem;
          font-weight: 700;
          color: $color08;
          @include m-font();
        }

        .service-desc {
          @include mq(sp) {
            padding: 0;
          }
        }

        .app-form-btn {
          justify-content: center;
          margin: 1.2rem auto 1rem;

          .btn-theme-01 {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}