/* ========================================================
modal.css
======================================================== */
/* modal settings
-------------------------------------------------------- */
.box {
  height: 20rem;
  margin-bottom: 10rem;
  background: $black238;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100vh;
}

.modal-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.modal-content {
  width: 100%;
  background: transparent;
  @include m-centering;

  @include mq(sp) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }

  iframe {
    width: 100%;
    height: 20rem;

    @include mq() {
      width: 100%;
      height: 60rem;
    }
  }

  .modal-panel {
    display: flex;
    flex-flow: column;
    width: 64%;
    height: 40vh;
    background: $white;
    border-radius: 2rem;
    overflow-y: auto;
    @include m-centering;

    @include mq(laptop) {
      width: 90rem;
      height: 60vh;
      overflow: hidden;
    }

    @include mq(sp) {
      display: block;
      top: 0;
      left: 0;
      justify-content: space-between;
      width: 100%;
      height: 100vh;
      transform: translate(0, 0);
      border-radius: 0;
    }

    .modal-ttl {
      padding: 1.2em 5rem;
      box-shadow: $header-shadow;
      font-size: 2rem;
      font-weight: 700;
      text-align: left;
      letter-spacing: 0.7rem;
      @include m-font();

      @include mq(sp) {
        padding: 0.5em;
        background: $black246;
        text-align: left;
      }
    }

    .modal-txt {
      line-height: 1.6;
      padding: 2rem 0 6rem;
      overflow-y: scroll;

      @include mq(sp) {
        height: 85%;
        padding: 2.5rem 0;
      }

      .form-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 89%;
        margin: 0 auto;
        max-width: 80rem;

        .checkbox-group {
          display: inline-block;
          width: 24%;
          margin-bottom: 0.6rem;

          @include mq (tab) {
            width: 32%;
          }

          @include mq (sp) {
            width: 49%;
          }

          input[type=checkbox] {
            display: none;
            width: initial;
            height: initial;
            margin-bottom: 0;
            padding: 0;
            cursor: pointer;
          }

          label {
            display: inline-block;
            position: relative;
            width: 100%;
            padding: 1rem;
            border: 1px solid $color14;
            font-size: 1.4rem;
            font-weight: 700;
            cursor: pointer;
            border-radius: 0.5rem;
            @include m-font();

            @include mq (sp) {
              font-size: 1.3rem;
            }
          }

          label:before {
            display: inline-block;
            width: 1.4rem;
            height: 1.4rem;
            margin-right: 0.5rem;
            border: 1px solid $color14;
            vertical-align: middle;
            content: '';
            border-radius: 50%;
          }

          input[type=checkbox]:checked+label:before {
            border: 1px solid transparent;
          }

          input[type=checkbox]:checked+label:after {
            display: block;
            position: absolute;
            top: 50%;
            left: 1rem;
            width: 1.6rem;
            height: 1.6rem;
            background: url('#{$v-img-path}icon/icon_modal_tick.png') no-repeat center/contain;
            content: '';
            transform: translateY(-50%);
          }

          input[type=checkbox]:checked+label {
            border: 1px solid $color01;
            color: $color01;
          }

        }
      }

      .form-btn {
        display: flex;
        justify-content: center;
        width: 59%;
        margin: 2rem auto 0;
        font-size: 1.5rem;
        font-weight: 700;
        max-width: 80rem;
        @include m-font();

        @include mq (tab) {
          width: 90%;
        }

        @include mq (sp) {
          flex-direction: column;
          align-items: center;
          width: 100%;
        }

        .set-categories,
        .search-set {
          display: inline-block;
          width: 26rem;
          padding: 1.2rem;
          text-align: center;
          border-radius: 2.9rem;

          @include mq (sp) {
            width: 100%;
            max-width: 32.5rem;
          }
        }

        .set-categories {
          position: relative;
          margin-right: 2%;
          border: 1px solid $color14;
          color: $color07;

          @include mq (sp) {
            margin-bottom: 1.5rem;
          }

          span {
            position: absolute;
            top: 50%;
            right: 8%;
            width: 0.8rem;
            height: 1rem;
            background: url('#{$v-img-path}icon/icon_setting_btn.png') no-repeat center/contain;
            transform: translateY(-50%);
          }
        }

        .search-set {
          overflow: hidden;
          box-shadow: $m-btn-shadow;
          background-color: $color01;
          color: $white;
          -webkit-transform: translate3d(0, 0, 0);
          -webkit-backface-visibility: hidden;

          &:hover {
            &::before {
              transform: scale(1, 1);
              transform-origin: left top;
            }
          }

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: $color04;
            content: '';
            transform: scale(0, 1);
            transform-origin: right top;
            transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
          }
        }
      }
    }
  }
}

.modal-close-btn {
  @include m-absolute($top: 0.5em, $right: 0.5em);

  @include mq() {
    top: 1.2em;
    right: 3.2em;

    .svg-icon {
      width: 4em;
    }
  }

  i {
    color: $black;
    font-size: 2em;
  }

  .svg-icon {
    width: 3em;
  }
}

.modal-footer {
  padding: 1em 0;
  border-top: 1px solid $black221;

  @include mq(sp) {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background: $white;
    max-height: 7rem;
  }
}