/* ========================================================
pagenation.css - ページネーション関連スタイル
======================================================== */

/* pagenation - ページネーションパーツ設定
-------------------------------------------------------- */
.pagination {
  display: flex;
  justify-content: center;
  padding: 4rem 0 8rem;
}

.page-numbers {
  display: inline-block;
  border: 1px solid $color14;
  background-color: $white;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 0.5rem;
  @include m-font1();

  &.current {
    background-color: $color01;
    color: $white;
  }
}

.page-numbers,
.dots {
  padding: 0.8rem 1.2rem;
  color: $color07;

  @include mq(sp) {
    padding: 0.6rem 1.1rem;
  }
}