/* ========================================================
search.css
======================================================== */
/* Search
-------------------------------------------------------- */
.search-page {

  .popup-btn {
    position: fixed;
    top: $header-height-sp;
    right: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
    background-color: $white;
    text-align: center;

    .change-search-btn {
      position: relative;
      width: 100%;
      line-height: 1.2;
      overflow: hidden;
      margin: 0 auto;
      padding: 1.5rem 2.5rem;
      border: none;
      box-shadow: $l-btn-shadow;
      background-color: $white;
      color: $color01;
      font-size: 1.5rem;
      font-weight: 700;
      outline: 1px solid $color01;
      -webkit-transform: translate3d(0, 0, 0);
      transition: all ease 0.6s;
      border-radius: 2.9rem;
      -webkit-backface-visibility: hidden;
      @include m-font();

      @supports (-webkit-hyphens:none) {
        border: 1px solid $color01;
        outline: none;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: $color01;
        content: '';
        transform: scale(0, 1);
        transform-origin: right top;
        transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
      }

      &:hover {
        color: $white;

        &::before {
          transform: scale(1, 1);
          transform-origin: left top;
        }

      }
    }
  }

  .sub-pg-mv {
    @include mq(sp) {
      padding: 16rem 0 3.8rem;
    }
  }
}

.search-result {
  position: relative;
  padding: 5rem 0 0;
  background-color: $color12;

  @include mq(sp) {
    padding-top: 2.5rem;
  }

  .tag-gp {
    display: flex;
    flex-wrap: wrap;

    .tag {
      line-height: 1.64;
      margin-bottom: 0.5rem;
      padding: 0.2rem 0.5rem;
      border: 1px solid $color01;
      color: $color01;
      font-size: 1.2rem;
      font-weight: 700;
      border-radius: 0.5rem;
      @include m-font();
    }
  }

  .search-bar {
    position: relative;

    &::before {
      position: absolute;
      top: 31.5%;
      left: 7.5%;
      width: 1.9rem;
      height: 1.9rem;
      background: url('#{$v-img-path}/icon/icon_job_search.png') no-repeat center/contain;
      content: ' ';
      transform: translateY(-50%);
    }

    .search-input {
      width: 73%;
      padding: 1.6rem 5rem 1.2rem;
      border: none;
      box-shadow: $ui-shadow;
      font-family: "Hiragino Kaku Gothic Pro";
      font-weight: 400;
      outline: none;
      border-radius: 1rem;
    }
  }

  .current-search-criteria {
    padding-bottom: 2rem;

    @include mq(sp) {
      width: 100%;
      padding: 7rem 1rem 1.4rem;
      border-bottom: 1px solid $color14;
    }

    .criteria-ttl {
      line-height: 1.21;
      margin-bottom: 1.3rem;
      padding: 0 0.9rem;
      font-size: 1.6rem;
      font-weight: 700;
      border-left: 2px solid $color01;
      @include m-font();

    }

    .tag {
      &:hover {
        background-color: $color01;
        color: $white;
      }
    }
  }

  .search-content {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 6rem;

    @include mq(laptop) {
      padding: 0 3rem;
    }

    @include mq(tab) {
      padding: 0;
    }

    @include mq(sp) {
      position: initial;
      padding: 0 0.35rem;
    }
  }

  .search-main {
    width: 65.89%;
    max-width: 70.5rem;

    @include mq(sp) {
      width: 100%;
    }

    .top-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 2rem;

      @include mq(sp) {
        flex-wrap: wrap;
        padding-bottom: 0;
      }

      .tag {
        margin-right: 0.7rem;
      }

      .sub-ttl {
        line-height: 1.65;
        color: $color07;
        font-size: 1.8rem;
        font-weight: 700;
        @include m-font();

        @include mq(sp) {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          width: 100%;
          margin: 0 auto;
          padding: 2rem 0;
          background-color: $white;
          font-size: 1.4rem;
          text-align: center;
        }
      }

      .modalbox-link {
        line-height: 1.64;
        padding: 3rem 1rem;
        color: $color07;
        font-size: 1.3rem;
        font-weight: 700;
        @include m-font();

        & span::after {
          display: inline-block;
          width: 0.8rem;
          height: 1rem;
          margin-left: 1rem;
          background: url('#{$v-img-path}/icon/icon_list_btn.png') no-repeat center/contain;
          content: '';
        }
      }

      .sort-dropdown {
        position: relative;
        @include m-font();

        .sort-btn-content {
          width: 17.4rem;
          padding: 1.6rem 2rem 1.6rem;
          border: 1px solid $color14;
          background-color: $white;
          color: $color07;
          font-size: 1.6rem;
          font-weight: 700;
          border-radius: 0.8rem;

          @include mq(sp) {
            width: 14.3rem;
            padding: 1.5rem 1.3rem 1rem;
            font-size: 1.3rem;
          }

          .sort-btn {
            display: block;
            position: relative;

            &::after {
              position: absolute;
              top: 50%;
              right: 0;
              width: 1rem;
              height: 0.8rem;
              background: url('#{$v-img-path}/icon/icon_dropdown_arr.png') no-repeat center/contain;
              content: ' ';
              transform: translateY(-50%);
            }
          }

          &.sort-active {
            border-bottom-color: transparent;
            border-radius: 0.8rem 0.8rem 0 0;

            .sort-btn {
              &::after {
                background: url('#{$v-img-path}/icon/icon_dropup_arr.png') no-repeat center/contain;
              }
            }
          }

        }



        .sorting-list {
          display: none;
          position: absolute;
          z-index: 1;
          width: 100%;
          padding: 0 1.5rem;
          border: 1px solid $color14;
          background-color: $white;
          border-radius: 0 0 0.8rem 0.8rem;
          border-top: none;

          .sorting-value {
            display: block;
            line-height: 1;
            margin-bottom: 1.8rem;
            color: $color07;
            font-size: 1.2rem;
            font-weight: 400;
            @include m-font();

            @include mq(sp) {
              font-size: 1.2rem;
            }

            &:first-child {
              padding-top: 1.7rem;
              border-top: 1px solid $color14;
            }

            a {
              color: $color07;
            }
          }
        }

        .show {
          display: block;
        }
      }

      .tag-gp {
        @include mq(sp) {
          width: 100%;
        }
      }
    }

    .result-list {

      .result {
        margin-bottom: 2rem;
        padding: 2.5rem 0 2.8rem;
        border: 1px solid $color14;
        background-color: $white;
        border-radius: 1.4rem;

        @include mq(sp) {
          padding: 2.5rem 0 2.8rem;
        }

        .result-info {
          border-bottom: 1px solid $color14;

          .result-heading {
            margin: 0 2.5rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid $color14;

            .label-new {
              display: inline-block;
              line-height: 1.2;
              padding: 0.1rem 0.4rem;
              background-color: $color08;
              color: $white;
              font-size: 1.3rem;
              font-weight: 500;
              text-transform: uppercase;
              border-radius: 0.4rem;
              @include m-font1();
            }

            .txt {
              line-height: 1.35;
              padding-top: 0.5rem;
              font-size: 1.8rem;
              font-weight: 700;
              letter-spacing: 0.015rem;
              @include m-font();
            }

          }

          .result-content {
            padding: 2rem 2.5rem;
            max-width: 70.5rem;

            @include mq(sp) {
              padding: 2rem 2.5rem 1rem;
            }

            .data-rows {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              margin-bottom: 1.4rem;

              @include mq(sp) {
                display: block;
                margin-bottom: 1;
              }

              .left-blk {
                width: 47%;

                @include mq(sp) {
                  width: 100%;
                }
              }

              .right-blk {
                width: 48%;

                @include mq(sp) {
                  width: 100%;
                  margin-top: 1.8rem;
                }
              }

              .inner-ttl {
                line-height: 1.35;
                margin-bottom: 1.2rem;
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: 0.015rem;
                @include m-font();
              }

              .desc-ttl {
                line-height: 1.5;
                margin-bottom: 0.4rem;
                color: $color07;
                font-size: 1.3rem;
                font-weight: 700;
                @include m-font();
              }

              .desc-txt {
                margin-bottom: 1.2rem;
                font-size: 1.4rem;
                @include m-font();
              }

              .desc-content {
                .desc-txt {
                  line-height: 1.5;
                  color: $color01;
                  font-weight: 700;
                }
              }

              .data-row {
                .desc-txt {
                  line-height: 1.65;
                  color: $color07;
                  font-weight: 400;
                  letter-spacing: 0.06rem;
                }

                .experiences {
                  li {
                    &::before {
                      content: '◆';
                    }
                  }
                }
              }
            }

            .tag-gp {
              .tag {
                margin-right: 0.6rem;
              }
            }
          }
        }

        .btn-gp {
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          margin: 0 3rem;
          padding-top: 2.5rem;
          font-size: 1.4rem;
          @include m-font();

          @include mq(sp) {
            flex-wrap: wrap;
            margin: 0 1rem;
            padding-top: 2rem;
          }

          @include mq(tab) {
            flex-wrap: wrap;
          }

          .btn-theme-03 {
            width: 14.8rem;
            margin-right: 0.9rem;
            padding: 0.8rem 0;
            font-size: 1.4rem;

            @include mq(sp_min) {
              width: 13rem;
            }

            &::after {
              left: 18.5%;
            }

          }

          .btn-theme-02 {
            width: 14.8rem;
            padding: 0.8rem 0;
            font-size: 1.4rem;


            @include mq(sp_min) {
              width: 13rem;

              &::after {
                right: 1.5rem;
              }
            }
          }

          .btn-theme-06 {
            width: 16rem;
            margin-right: 0.9rem;
            padding: 0.8rem 0;
            font-size: 1.4rem;

            @include mq(sp) {
              width: 15rem;
            }

            @include mq(sp_min) {
              width: 13rem;
            }

          }

          .seemore-link {
            margin-left: 4.3rem;
            color: $color01;
            font-weight: 700;
            text-decoration: underline;
            text-align: center;

            @include mq(sp) {
              margin: 2rem auto 0;
            }

            @include mq(tab) {
              margin: 2rem auto 0;
            }
          }
        }
      }
    }

    .pagination {
      padding: 1.5rem 0 8.4rem;
    }

    .sec-rcmd-job {
      margin-top: 0;
      padding-top: 0;

      .rcmd-col-blk .rcmd-col {
        width: 48.1%;
        max-width: 33.9rem;
        column-gap: 2.7rem;

        @include mq(sp) {
          width: 100%;
          margin: 0 auto 2rem;
          max-width: 34.5rem;
        }
      }
    }
  }

  .search-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: $header-height-pc + 5rem;
    width: 31.78%;
    margin-bottom: 5rem;
    padding: 3rem 2.5rem 2.5rem;
    border: 1px solid $color14;
    background-color: $white;
    max-width: 34rem;
    max-width: 34rem;
    border-radius: 1.4rem;

    .sidebar-ttl {
      line-height: 1.65;
      margin-bottom: 3rem;
      color: $color07;
      font-size: 2.2rem;
      font-weight: 700;
      text-align: center;
      @include m-font();
    }

    .tag-gp {
      justify-content: space-between;
    }

    .job-info-list {
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.2rem 1.2rem;
        border-bottom: 1px solid $color14;

        &:first-child {
          border-top: 1px solid $color14;
        }

        .img-blk {
          display: flex;
          align-items: center;
        }

        .change-link {
          line-height: 1.5;
          color: $color01;
          font-size: 1.6rem;
          font-weight: 400;
          text-decoration: underline;
          @include m-font();
        }

        .s-mg-r {
          margin-right: 1.2rem;
        }
      }
    }

    .search-bar {
      padding-top: 2.5rem;
      text-align: center;

      &::before {
        top: 35%;
      }

      .search-input {
        width: 97.4%;
        padding: 1.5rem 5rem;
        box-shadow: none;
        background-color: $color12;
        font-size: 1.6rem;
        max-width: 28.1rem;
      }

      .search-btn {
        width: 76.4%;
        margin: 1.8rem auto 0;
        max-width: 22rem;
      }
    }
  }
}