/* ========================================================
content.css
======================================================== */
/* content, section
-------------------------------------------------------- */
/* sp */
@include mq(sp) {
  .content {
    padding-top: $header-height-sp;
  }

  .sec-full {
    width: 94%;
    margin: 0 auto;
    max-width: 100%;
  }

  .sec-med {
    width: 94%;
  }

  .sec-min {
    width: 94%;
  }

  .sec-theme-inner {
    position: relative;
    padding: 1em;
  }
}

/* tab */
@include mq(tab) {
  .content {
    padding-top: $header-height-sp;
  }

  .sec-full {
    width: 94%;
    margin: 0 auto;
    max-width: 100%;
  }

  .sec-med {
    width: 94%;
  }

  .sec-min {
    width: 94%;
  }

  .sec-theme-inner {
    position: relative;
    padding: 1em;
  }
}

/* laptop */
@include mq(laptop) {
  .content {
    padding-top: $header-height-sp;
  }

  .sec-full {
    width: 96%;
    margin: 0 auto;
    max-width: 100%;
  }

  .sec-med {
    width: 110rem;
  }

  .sec-min {
    width: 103rem;
  }

  .sec-theme-inner {
    position: relative;
    padding: 3em;
  }
}

/* pc */
@include mq(desktop) {
  .content {
    padding-top: $header-height-pc;
  }

  .sec-full {
    margin: 0 auto;
    max-width: 119rem;
  }

}

/* Guide Search
-------------------------------------------------------- */
.sec-guide-search {
  padding: 8rem 0 3.2rem;

  @include mq(sp) {
    margin: 0 2.5rem;
    padding: 4rem 0 3rem;
  }

  .sec-full {
    padding: 0 6rem;

    @include mq(sp) {
      width: 100%;
      padding: 0;
    }

    .guide-list {
      li {
        margin-bottom: 1.9rem;

        @include mq(sp) {
          margin-bottom: 1rem;
        }

        .content-ttl {
          line-height: 1.21;
          padding: 0.7rem 1.5rem;
          background-color: $color12;
          color: $color07;
          font-size: 1.7rem;
          font-weight: 700;
          border-left: 5px solid $color01;
          @include m-font();

          @include mq(sp) {
            position: relative;
            padding: 1.1rem 1.5rem;
            font-size: 1.5rem;
            cursor: pointer;

            &::after {
              position: absolute;
              top: 50%;
              right: 1.5rem;
              width: 0.9rem;
              height: 1.2rem;
              background: url('#{$v-img-path}icon/icon_accordion_arr.png') no-repeat center/contain;
              content: '';
              transform: translateY(-50%);
              transition: all 0.4s;
            }

            &.open::after {
              transform: translateY(-50%) rotate(90deg);
            }
          }
        }

        .content-txt {
          padding: 1rem 2rem;

          a {
            line-height: 2.26;
            margin-right: 0.9rem;
            color: $color13;
            font-size: 1.3rem;
            font-weight: 400;
            @include m-font();

            &:hover {
              text-decoration: underline;
            }
          }
        }

      }
    }
  }
}

/* Service content
-------------------------------------------------------- */
#page-top .sec-service-content {
  padding-bottom: 0;
}

.sec-service-content {
  padding-bottom: 2rem;

  .sec-ttl {
    margin-bottom: 4.5rem;

    @include mq(sp) {
      margin-bottom: 2.4rem;
    }
  }

  .tile-list {
    @include mq(sp) {
      margin: 0 auto 0.7rem;
    }

    .tile-list-item {
      width: 48.69%;
      margin-right: 3rem;
      max-width: 52rem;
      border-radius: 1.4rem;

      @include mq(sp) {
        display: block;
        position: relative;
        width: 100%;
        margin-right: 0;
        margin-bottom: 6.5rem;
        max-width: 76.7rem;
      }

      @include mq(tab) {
        margin-right: 1.5rem;
      }

      a {
        display: block;
      }

      &:hover {
        box-shadow: $tile-box-shadow;
        transition: 0.4s;
      }

      .tile-list-img {
        position: relative;
        background: url('#{$v-img-path}top/img_service02.png') no-repeat center/cover;
        border-radius: 1.4rem;

        @include mq(tab) {
          background-position-x: right;
        }
      }

      &:nth-child(2n) {
        margin-right: 0;

        .tile-list-img {
          background: url('#{$v-img-path}top/img_service01.png') no-repeat center/cover;

          @include mq(tab) {
            background-position-x: right;
          }
        }
      }
    }

    .list-content {
      padding: 3rem 4rem;
      max-width: 31rem;

      @include mq(sp) {
        padding: 3.7rem 2.5rem 2.7rem;
        max-width: 100%;
      }

      .service-ttl {
        font-size: 1.4rem;
        font-weight: 700;
        @include m-font1();
      }

      .tile-list-ttl {
        @include mq(sp) {
          font-size: 1.8rem;
        }
      }

      .tile-list-txt {
        @include mq(sp) {
          position: absolute;
          bottom: -5rem;
          left: 0;
          padding: 0 1rem;
          color: $color07;
        }

        @include mq(sp_min) {
          font-size: 1rem;
        }
      }
    }
  }
}

/* Recommend content
-------------------------------------------------------- */
.rcmd-page .sec-rcmd-job {
  padding-top: 8rem;

  @include mq(sp) {
    padding-top: 3.8rem;
  }
}

.sec-rcmd-job {
  padding-top: 10.3rem;
  padding-bottom: 7.2rem;
  background-color: $color12;

  @include mq(sp) {
    padding-top: 2.5rem;
    padding-bottom: 2rem;

    .sec-ttl {
      margin-bottom: 3rem;

      .main-ttl {
        display: inline-block;

        &::before,
        &::after {
          width: 3rem;
          height: 5.4rem;
        }
      }
    }
  }

  .rcmd-col-blk {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 107rem;

    .rcmd-col {
      width: 31.5%;
      line-height: 1.65;
      margin-bottom: 2.7rem;
      border: 1px solid $color14;
      background-color: $white;
      font-size: 1.4rem;
      border-radius: 1.4rem;
      @include m-font();

      @include mq(tab) {
        width: 48%;
      }

      @include mq(sp) {
        width: 100%;
        margin-bottom: 2rem;
      }

      .rcmd-top {
        padding: 3rem 2.5rem 1rem;

        .rcmd-ttl {
          font-size: 1.8rem;
          font-weight: 700;
          @include m-font();
          color: $color07;
        }

        .info {
          padding-top: 1.5rem;
        }

        .rcmd-content {
          padding-top: 0.7rem;
          color: $color07;
        }

        .tag-gp {
          display: flex;
          flex-wrap: wrap;
          padding-top: 1.2rem;

          .tag {
            margin: 0 0.6rem 0.6rem 0;
            padding: 0.2rem 0.6rem;
            border: 1px solid $color01;
            color: $color01;
            font-size: 1.2rem;
            font-weight: 700;
            border-radius: 0.4rem;
          }
        }
      }

      .rcmd-link,
      .rcmd-sub-ttl {
        line-height: 1.5;
        color: $color07;
        font-weight: 700;
      }

      .rcmd-sub-ttl {
        font-size: 1.5rem;
      }

      .blue-txt {
        color: $color01;
      }

      .rcmd-bottom {
        padding: 1.8rem 2.5rem 0.8rem;
        border-top: 1px solid $color14;

        .rcmd-btn-gp {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          font-size: 1.6rem;
        }

        .rcmd-link {
          position: relative;
          margin-bottom: 1rem;
          padding-left: 2.6rem;

          &::before {
            position: absolute;
            top: 50%;
            left: 0;
            content: '';
            transform: translateY(-50%);
          }

          &.rcmd-fav-btn {
            &::before {
              width: 1.8rem;
              height: 1.7rem;
              background: url('#{$v-img-path}icon/icon_rcmd_fav.png') no-repeat center/contain;
            }
          }

          &.rcmd-detail-btn {
            &::before {
              width: 1.9rem;
              height: 1.9rem;
              background: url('#{$v-img-path}icon/icon_rcmd_arr.png') no-repeat center/contain;
            }
          }

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

/* Career Change Service content
-------------------------------------------------------- */
.sec-services {
  padding-top: 10rem;
  background-color: $color12;
  text-align: center;
  @include m-font();

  @include mq(sp) {
    padding-top: 7rem;
  }

  .sec-ttl {
    margin-bottom: 3rem;

    @include mq(sp) {
      margin-bottom: 2.4rem;
    }
  }

  .service-para {
    width: 100%;
    line-height: 1.7;
    margin: 0 auto 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    max-width: 53.1rem;

    @include mq(sp) {
      margin-bottom: 2.3rem;
      padding: 0 1.3rem;
      text-align: left;
    }
  }

  .service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto 5.2rem;
    max-width: 85.1rem;

    @include mq(sp) {
      margin: 0 auto 2.7rem;
    }

    li {
      width: 21%;
      margin-right: 5.3%;

      @include mq(sp) {
        width: 47%;
        margin-right: 3%;
        margin-bottom: 1.7rem;

        &:nth-child(2n) {
          margin-right: 0;
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .service-txt {
      padding-top: 1.6rem;
      font-size: 1.6rem;
      font-weight: 700;

      @include mq(sp) {
        line-height: 1.2;
      }
    }
  }

  .register-btn {
    justify-content: center;
    padding: 1.6rem 0;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    max-width: 34.5rem;

    @include mq(sp) {
      max-width: 32rem;
    }
  }
}

/* Job Description content
-------------------------------------------------------- */
.sec-job-desc {
  background-color: $color12;

  .sec-full {
    @include mq(sp) {
      width: 86.4%;
    }
  }

  .job-offer-id {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .label-new {
      display: block;
      width: 3.8rem;
      line-height: 1.4;
      padding: 0.1rem 0.4rem;
      background-color: $color08;
      color: $white;
      font-size: 1.3rem;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      border-radius: 0.4rem;
      @include m-font1();

      @include mq (sp) {
        line-height: 1.3;
      }
    }

    .job-offer {
      color: $color10;
      font-size: 1.3rem;
      font-weight: 400;
      @include m-font();

      @include mq (sp) {
        font-size: 1.1rem;
        letter-spacing: 0.07rem;
      }
    }
  }

  .occupation-txt {
    display: block;
    padding: 0.9rem 0 1.8rem;
    color: $color07;
    font-size: 3rem;
    font-weight: 700;
    @include m-font();

    @include mq (sp) {
      line-height: 1.5;
      padding: 0.6rem 0;
      font-size: 2rem;
    }
  }

  .location-txt {
    display: block;
    line-height: 1.3;
    color: $color07;
    font-size: 1.4rem;
    font-weight: 400;
    @include m-font();
    letter-spacing: 0.15rem;

    @include mq (sp) {
      line-height: 1.4;
      font-size: 1.3rem;
    }
  }

  .amount-txt {
    display: block;
    padding: 1.7rem 0 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    @include m-font();

    @include mq (sp) {
      padding: 1rem 0;
      font-size: 1.3rem;
    }

    span {
      padding-left: 0.7rem;
      color: $color01;

      @include mq (sp) {
        font-size: 1.4rem;
      }
    }
  }

  .tag-gp {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.3rem;
    row-gap: 1rem;
    border-top: 1px solid $color14;

    @include mq(sp) {
      margin-top: 1.3rem;
      padding-top: 2.1rem;
      row-gap: 0.8rem;
    }

    li {
      span {
        display: inline-block;
        margin-right: 0.7rem;
        padding: 0.2rem 0.6rem;
        border: 1px solid $color07;
        border: 1px solid $color01;
        background-color: $white;
        background-color: $white;
        color: $color07;
        color: $color01;
        font-size: 1.4rem;
        border-radius: 0.5rem;
        @include m-font();

        @include mq(sp) {
          margin-right: 0.4rem;
          padding: 0.4rem 0.6rem;
          font-size: 1.2rem;
        }
      }
    }
  }

}