/* ========================================================
footer.css
======================================================== */
.footer-theme {
  position: relative;
  padding-top: 6rem;

  @include mq(sp) {
    padding-top: 4rem;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background-color: $color11;
    content: '';

    @include mq(sp) {
      width: 88%;
    }
  }

  .sec-full {
    padding: 0 6rem;

    @include mq(laptop) {
      padding: 0 2rem;
    }

    @include mq(tab) {
      padding: 0 2rem;
    }

    @include mq(sp) {
      padding: 0 1.4rem;
    }

  }
}

.footer-flex {
  display: flex;

  &.footer-nav-content {
    @include mq(laptop_sp) {
      flex-wrap: wrap;
    }

    @include mq(laptop) {
      flex-wrap: inherit;
    }
  }

  .human-logo {
    padding-top: 0.3rem;

    @include mq(sp) {
      padding-top: 0;
    }

    a {
      img {
        @include mq(sp) {
          width: 12.3rem;
          height: 4rem;
        }
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .human-holding {
    padding: 0 3rem;

    @include mq(sp) {
      padding: 0 0 0 2rem;
    }

    img {
      @include mq(sp) {
        width: 4.05rem;
        height: 4.05rem;
      }
    }

    span {
      line-height: 1.4;
      padding: 1.2rem 1.3rem;
      color: $color07;
      font-size: 1.3rem;
      font-weight: 400;
      @include m-font();

      @include mq(sp) {
        padding: 0.7rem 0 0.7rem 0.8rem;
        font-size: 1rem;
      }
    }
  }

  .footer-nav {
    a {
      color: $color07;
      font-size: 1.3rem;
      font-weight: 400;
      letter-spacing: 0.02rem;
      @include m-font();
    }
  }

  .footer-left-nav {
    width: 100%;
    margin: 2.8rem 0 6rem;
    border-right: 1px solid $color11;

    @include mq(tab) {
      margin: 3rem 0;
      padding-bottom: 4rem;
      border-right: none;
      border-bottom: 1px solid $color11;
    }

    @include mq(sp) {
      margin: 1.8rem 0;
      padding-bottom: 1.8rem;
      border-right: none;
      border-bottom: 1px solid $color11;
    }

    .footer-nav {
      width: 70.8rem;
      column-count: 2;
      column-gap: 1.7rem;

      @include mq(laptop) {
        width: 62rem;
        column-gap: 1rem;
      }

      @include mq(tab) {
        width: 100%;
      }

      @include mq(sp) {
        width: 100%;
        column-count: 1;
        column-gap: 0;
      }

      a {
        line-height: 2.32;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-right-nav {
    width: 100%;
    padding: 3.1rem 0 3.1rem 7.3rem;

    @include mq(laptop) {
      padding: 3.1rem 0 3.1rem 3.2rem;
    }

    @include mq(tab) {
      padding: 1rem 0 2rem;
    }

    @include mq(sp) {
      padding: 1.1rem 0 1.5rem;
    }

    .footer-nav {
      width: 34rem;
      column-count: 2;
      column-gap: 1.1rem;

      @include mq(laptop) {
        width: 31rem;
      }

      @include mq(tab) {
        width: 100%;
        column-count: 4;
        column-gap: 2rem;
      }

      @include mq(sp) {
        width: 100%;
        column-gap: 3rem;
      }

      a {
        position: relative;
        line-height: 1.2;
        margin-bottom: 1.4rem;
        padding: 0 2rem;

        @include mq(sp) {
          margin-bottom: 1.6rem;
          padding: 0 2rem;
        }

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 1.4rem;
          height: 1.4rem;
          background: url('#{$v-img-path}icon/icon_footer_arr.png') no-repeat center/contain;
          content: '';
        }

        &:hover {
          opacity: 0.6;
        }
      }
    }

    .icon-content {
      justify-content: flex-end;
      width: 31.5rem;
      padding: 1.5rem 0;

      @include mq(laptop) {
        width: 30rem;
      }

      @include mq(tab) {
        justify-content: flex-start;
        width: 100%;
        padding: 1rem 0;
      }

      @include mq(sp) {
        justify-content: flex-start;
        width: 100%;
        padding: 1.1rem 0;
      }

      .iso-icon {
        padding: 0 2.5rem;

        @include mq(sp) {
          padding: 0.2rem 1.8rem;
        }

        span {
          line-height: 1.41;
          padding: 0 1rem;
          color: $color07;
          font-size: 1.2rem;
          font-weight: 400;
          @include m-font();

          @include mq(sp) {
            padding: 0.2rem 1.1rem;
          }
        }
      }
    }
  }

}

.footer-copyright {
  padding: 1rem 0;
  background-color: $color04;

  @include mq(sp) {
    padding: 1.1rem 0;
  }

  .copyright-txt {
    line-height: 1.2;
    color: $white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    @include m-font1();
  }
}